#particles-js {
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
}


.btn-change {
  height: 50px;
  width: 100px;
  background: lightseagreen;
  margin: 20px;
  float: left;
  box-shadow: 0 0 1px #ccc;
  border: 0px;
  color: #fff;
}
/* body{background-color: #000}.wrapper{display: flex;justify-content: center;align-items: center;height: 100vh}.pulse{width: 70px;height: 70px;background-color: red;border-radius: 50%;position: relative;animation: animate 3s linear infinite}.pulse i{position: relative;display: flex;justify-content: center;align-items: center;font-size: 30px;color: #fff;height: 100%;cursor: pointer}@keyframes animate{0%{box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7) , 0 0 0 0 rgb(255, 109, 74, 0.7)}40%{box-shadow: 0 0 0 50px rgb(255, 109, 74, 0) , 0 0 0 0 rgb(255, 109, 74, 0.7)}80%{box-shadow: 0 0 0 50px rgb(255, 109, 74, 0) , 0 0 0 30px rgb(255, 109, 74, 0)}100%{box-shadow: 0 0 0 0 rgb(255, 109, 74, 0) , 0 0 0 30px rgb(255, 109, 74, 0)}} */


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-48 { font-size: 48px; }

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-30 { font-size: 30px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.card-hover {
  transition: transform 250ms;
}
.card-hover:hover {
  transform: translateY(-10px);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*/ hr.horizontal {
  background-color: transparent;
}

hr.horizontal.light {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );
}

hr.horizontal.dark {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
}

hr.horizontal.gray-light {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
/* icon */ .custom-navbar .fa {font-size:25px}

@media (max-width:767px) { 
  .custom-navbar .navbar-right {
      float: right;
      padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
      float: right;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li > a {
      padding:8px 5px;
  }
  .custom-navbar .navbar-toggle {
      float: left
  }
  .custom-navbar .navbar-header {
      float: left;
      width: auto!important;
  }
  .custom-navbar .navbar-collapse {
      clear: both;
      float: none;
  }
}


.rounded-xl {
  border-radius: .5rem;
}

section{
  background-color: #e9ecef;
}


/* only needed for fixed navbar */
body {
  padding-top: 70px;
}

.form-control:focus,
.form-control:active {
  border-color: #000;
  outline: 0;
  box-shadow: inset 0 0 0;
}

#searchForm {
  z-index: 2210;
  left: 0;
}